<div class="top-bar">
  <!-- Logo -->
  <div class="logo">
    <img src="./asset/icon/logo.svg" alt="grocery mart" class="logo__img" />
    <h1 class="logo__title">grocerymart</h1>
  </div>

  <!-- Navbar -->
  <nav class="navbar">
    <ul>
      <li>
        <a href="" class="navbar__link">
          Departments
          <img src="./asset/icon/arrow-down.svg" alt="" class="navbar__arrow" />
        </a>
      </li>
      <li>
        <a href="" class="navbar__link">
          Grocery
          <img src="./asset/icon/arrow-down.svg" alt="" class="navbar__arrow" />
        </a>
      </li>
      <li>
        <a href="" class="navbar__link">
          Beauty
          <img src="./asset/icon/arrow-down.svg" alt="" class="navbar__arrow" />
        </a>
      </li>
    </ul>
  </nav>

  <!-- Actions -->
  <div class="top-act">
    <div class="top-act__group">
      <button class="top-act__btn">
        <img src="./asset/icon/search.svg" alt="" class="top-act__icon" />
      </button>
    </div>

    <div class="top-act__group">
      <button class="top-act__btn">
        <img src="./asset/icon/heart.svg" alt="" class="top-act__icon" />
        <span class="top-act__title">03</span>
      </button>

      <div class="top-act__separate"></div>

      <button class="top-act__btn">
        <img src="./asset/icon/buy.svg" alt="" class="top-act__icon" />
        <span class="top-act__title">$65.42</span>
      </button>
    </div>

    <div class="top-act__user">
      <img src="./asset/icon/avatar.png" alt="" class="top-act__avatar" />
    </div>
  </div>
</div>
