/* Error: Undefined mixin.
 *    ,
 * 9  | /   @include breakpoint(lg) {
 * 10 | \   }
 *    '
 *   scss\layout\_header.scss 9:3  @forward
 *   scss\layout\_index.scss 1:1   @use
 *   scss\main.scss 3:1            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 9  \2502  \250c    @include breakpoint(lg) {\a 10 \2502  \2514    }\a    \2575 \a   scss\\layout\\_header.scss 9:3  @forward\a   scss\\layout\\_index.scss 1:1   @use\a   scss\\main.scss 3:1            root stylesheet";
}
