html.dark {
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(98%) sepia(11%)
    saturate(429%) hue-rotate(212deg) brightness(116%) contrast(100%);

  --header-bg: #171c28;
  --top-act-group-bg: #292e39;
  --top-act-group-shadow: rgba(0, 0, 0, 0.2);
  --top-act-group-separate: #ededf6;

  // Dropdown
  --dropdown-bg-color: #2f3441;
  --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
  --dropdown-arrow-color: brightness(0) saturate(100%) invert(17%) sepia(25%)
    saturate(480%) hue-rotate(186deg) brightness(98%) contrast(91%);
  --top-menu-border-color: #171c28;
  --menu-column-icon-color: brightness(0) saturate(100%) invert(95%) sepia(6%)
    saturate(527%) hue-rotate(180deg) brightness(107%);

  // Sidebar
  --sidebar-bg: #292e39;
  --sidebar-shadow: rgba(23, 28, 40, 0.4);

  // Category item
  --cate-item-bg: #171c28;
  --cate-item-thumb-bg: #292e39;
  --cate-item-title-color: #fff;

  // Buttons
  --filter-btn-color: #fff;
  --filter-btn-bg: #171c28;

  // Product card
  --product-card-bg: #171c28;
  --product-card-shadow: rgba(0, 0, 0, 0.2);
}
