.cate-item {
  display: flex;
  column-gap: 20px;

  padding: 20px 26px;
  border-radius: 16px;
  background: var(--cate-item-bg);

  &__thumb {
    width: 116px;
    height: 116px;
    object-fit: contain;
    border-radius: 8px;
    background: var(--cate-item-thumb-bg);
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 38px;
  }

  &__title {
    color: var(--cate-item-title-color);
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 145.455%;
  }

  &__desc {
    margin-top: 6px;
    font-size: 1.6rem;
    line-height: 150%;
  }
}
