.form {
  &__group {
    margin-top: 30px;

    &--inline {
      display: flex;
      align-items: center;
    }
  }

  &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
    .form__text-input {
      border-color: red;
      background: rgb($color: red, $alpha: 0.1);
    }

    .form__error,
    .form__input-icon-error {
      display: block;
    }
  }

  &__text-input {
    display: flex;
    align-items: center;

    height: 50px;
    padding: 0 12px;
    border-radius: 10px;
    border: 1.5px solid #d2d1d6;

    &:focus-within {
      border-color: #77dae6;
    }
  }

  &__input {
    height: 100%;
    flex: 1;

    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;

    &-icon {
      margin-left: 12px;
    }

    &::placeholder {
      color: #d2d1d6;
    }
  }

  &__error {
    text-align: left;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 10px;
    color: red;
    display: none;
  }

  &__input-icon-error {
    width: 20px;
    height: 15px;
    display: none;
  }

  &__pull-right {
    margin-left: auto;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    gap: 10px;

    &-label {
      color: #9e9da8;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 146.667%;
    }
  }
}
