*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --text-color: #1a162e;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Gordita, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
}
